@import './theme';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    text-rendering: optimizeLegibility;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw;
}

.app {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all 0.2s;
    width: 100%;
}

.app__background {
    background: url('https://i.postimg.cc/NjHjKtG4/US-en-20190128-popsignuptwoweeks-perspective-alpha-website-large.jpg');
    background-position: center center;
    background-size: cover;
    filter: blur(5px) grayscale(1);
    height: 100%;
    position: absolute;
    transform: scale(1.1);
    width: 100%;

    &::before {
        background: rgba(0, 0, 0, 0.7);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.app__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 124rem;
    overflow-x: hidden;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateX(50%);
    width: 100%;
}

.slider {
    height: 50rem;
    position: relative;
    width: 100%;
}

.slider__list {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin-top: 3rem;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
}

// prettier-ignore
.slider__item {
    position: absolute;
    transition: transform 0.2s;

    img {
        box-shadow:
            1rem 1rem 2rem rgba(0, 0, 0, 0.25),
            0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.35);
        height: 20rem;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        transition: width 0.5s, height 0.5s;
        width: 14rem;
    }

    &.active img {
        box-shadow:
            1.9rem 1.9rem 3.8rem rgba(0, 0, 0, 0.5),
            1.5rem 1.5rem 1.2rem rgba(0, 0, 0, 0.3);
        height: 65.85rem;
        width: 44.55rem;
    }
}

.btn {
    align-items: flex-start;
    background: 0;
    border-radius: 20%;
    color: var(--cyan-400);
    cursor: pointer;
    display: flex;
    font-size: 8rem;
    font-weight: bold;
    height: 5rem;
    justify-content: center;
    left: 52rem;
    line-height: 3.7rem;
    margin-top: 2rem;
    overflow: hidden;
    position: absolute;
    top: 24rem;
    transition: all 0.2s;
    width: 5rem;

    &:hover {
        color: var(--cyan-100);
    }

    &:active {
        color: var(--cyan-400);
        transform: scale(1.1);
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 52rem;
    position: absolute;
    top: 30rem;
}

.text__group {
    color: white;

    h3 {
        font-size: 3rem;
    }
}

.text__title {
    margin-top: 3rem;
}

.text__rating {
    color: white;
    display: flex;
    left: 53.5rem;
    margin-top: 3rem;
}

.text__rating-average {
    align-items: center;
    display: flex;
    margin-right: 1rem;
}

.text__rating-number {
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

.text__rating-star-list {
    display: flex;
    justify-content: flex-start;
}

.text__rating-star {
    // prettier-ignore
    clip-path:
        polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
        );
    height: 2rem;
    width: 2rem;
    z-index: 10;

    &:not(:first-child) {
        margin-left: 0.5rem;
    }
}

.text__rating-star-fill {
    background: var(--yellow-400);
    height: 100%;
}

.text__synopsis {
    line-height: 2.5rem;
    margin-top: 3rem;
    text-indent: 3rem;
}
