@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import './theme';

$blue-000: #4bb0fe;
$blue-100: #2c5d84;
$blue-200: #112c46;
$blue-300: #083865;
$blue-400: #09345f;
$blue-500: #021d38;
$black-100: #1b1920;
$black-200: #020916;

$main-font-color: #58b7dc;

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: #090f21;
    border: 0.2rem solid $black-200;
}

::-webkit-scrollbar-thumb {
    background: #5ea1e2;
}

::-webkit-scrollbar-thumb:hover {
    background: $blue-100;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Goldman', cursive;
    font-size: 10px;
}

body {
    background:
        url('https://i.postimg.cc/7ZD014xg/big-bg.jpg') center
        center/cover no-repeat;
    display: flex;
    font-size: 1.5rem;
    height: 100vh;
    justify-content: center;
}

.container {
    position: relative;
}

.corner-shape {
    background: $blue-000;
    clip-path:
        polygon(
            8% 0,
            92% 0,
            100% 8%,
            100% 94%,
            94% 100%,
            8% 100%,
            0 92%,
            0 8%
        );
    height: 15rem;
    opacity: 0.7;
    position: absolute;
    width: 10rem;

    &.top-left {
        left: -1rem;
        top: 9rem;
    }

    &.top-right {
        right: -1rem;
        top: 9rem;
    }

    &.bottom-left {
        left: -1rem;
        top: 56rem;
    }

    &.bottom-right {
        right: -1rem;
        top: 56rem;
    }
}

.container-inner {
    background:
        radial-gradient(
            circle farthest-side at 0% 50%,
            $black-200 23.5%,
            rgba(240, 166, 17, 0) 0
        )
        21px 30px,
        radial-gradient(
            circle farthest-side at 0% 50%,
            $blue-500 24%,
            rgba(240, 166, 17, 0) 0
        )
        19px 30px,
        linear-gradient(
            $black-200 14%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 85%,
            $black-200 0
        )
        0 0,
        linear-gradient(
            150deg,
            $black-200 24%,
            $blue-500 0,
            $blue-500 26%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 74%,
            $blue-500 0,
            $blue-500 76%,
            $black-200 0
        )
        0 0,
        linear-gradient(
            30deg,
            $black-200 24%,
            $blue-500 0,
            $blue-500 26%,
            rgba(240, 166, 17, 0) 0,
            rgba(240, 166, 17, 0) 74%,
            $blue-500 0,
            $blue-500 76%,
            $black-200 0
        )
        0 0,
        linear-gradient(
            90deg,
            $blue-500 2%,
            $black-200 0,
            $black-200 98%,
            $blue-500 0%
        )
        0 0 $black-200;
    background-size: 4rem 6rem;
    border: 0.5rem solid $blue-100;
    border-radius: 0.5rem;
    display: flex;
    height: 60rem;
    margin-top: 10rem;
    position: relative;
    width: 120rem;

    &::before {
        background: $blue-000;
        clip-path: polygon(1% 95%, 99% 95%, 100% 100%, 0% 100%);
        content: '';
        height: 10rem;
        left: 50%;
        position: absolute;
        top: 0;
        transform: rotate(180deg) translateX(50%);
        width: 70%;
    }

    &::after {
        background: $blue-000;
        bottom: 0;
        clip-path: polygon(1% 95%, 99% 95%, 100% 100%, 0% 100%);
        content: '';
        height: 10rem;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 70%;
    }
}

.col:first-child {
    flex: 1;
    margin: 3rem 2rem;
}

.col:nth-child(2) {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3rem 2rem 3rem 0;
}

.stat-list {
    background: $black-200;
    list-style-type: none;
}

.stat-item {
    align-items: center;
    background: $black-100;
    background: linear-gradient(185deg, $black-200 46%, $blue-300 88%);
    border: 0.3rem solid $blue-100;
    border-radius: 0.5rem;
    color: $main-font-color;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 4rem;
    padding: 0 1rem;
    transition: all 0.3s;
    width: 100%;

    &:not(:first-child) {
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    &:hover {
        border-color: white;
        color: white;

        .arrow {
            border-color: white;
        }
    }
}

.arrow {
    border: 0.2rem solid $main-font-color;
    border-bottom: 0;
    border-right: 0;
    height: 1rem;
    width: 1rem;

    &-left {
        transform: rotate(-45deg);
    }

    &-right {
        transform: rotate(135deg);
    }
}

.ladder-btn {
    margin-left: 1rem;
}

.header {
    display: flex;
    height: 8rem;
    width: 100%;
}

.header__avatar {
    border: 0.2rem solid $blue-400;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 8rem;

    img {
        border-radius: 0.5rem;
        width: 100%;
    }

    &::before {
        background: $blue-100;
        border: 0.2rem solid $blue-300;
        border-radius: 0.5rem;
        bottom: -0.5rem;
        box-sizing: initial;
        color: white;
        content: '2';
        height: 2rem;
        left: -0.75rem;
        line-height: 2rem;
        position: absolute;
        text-align: center;
        width: 2rem;
    }
}

.header__stats {
    background:
        url('https://i.postimg.cc/2yVGBCSm/sc2-header-bg.png') center
        center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2rem solid $blue-400;
    border-radius: 0.5rem;
    flex: 1;
    margin-left: 1rem;
    position: relative;

    &::before {
        background: rgba(0, 0, 0, 0.3);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.table-container {
    background: $blue-500;
    border: 0.3rem solid $blue-200;
    border-radius: 0.5rem;
    flex: 1;
    margin-top: 1rem;
    overflow-y: scroll;
    width: 100%;
}

.table-headers {
    background: $black-200;
    border: 0.3rem solid $blue-200;
    border-left: 0;
    border-radius: 0.3rem;
    border-right: 0;
    color: white;
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0 0.2rem;
    width: 100%;

    th {
        padding: 1rem 0;
    }
}

.table-row {
    td {
        border-bottom: 0.1rem solid $blue-200;
        border-top: 0.1rem solid $blue-200;
        color: $main-font-color;
        min-width: 10rem;
        text-align: center;
    }

    .badge {
        color: white;
        display: block;
        letter-spacing: 0.3rem;

        img {
            height: 5rem;
            object-fit: cover;
            padding: 0.5rem;
            vertical-align: middle;
            width: 5rem;
        }
    }
}
