@import './theme';

$unit-width: 100px;
$unit-height: 50px;

@mixin base-unit {
    background: var(--cyan-400);
    border: 0;
    height: $unit-height;
    width: $unit-width;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    background: var(--black-600);
    color: white;
    display: flex;
    font-size: 15px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

#container {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    width: 1100px;
}

#header {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 100%;
}

#header__score span:nth-child(2) {
    color: var(--cyan-400);
}

#invaders {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

#invaders__col-list {
    display: flex;
    flex: 1;
}

.invaders__col {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: $unit-width;
}

.invader {
    @include base-unit;

    width: 90px;

    &:not(:first-child) {
        margin-top: 10px;
    }
}

#invaders__player-zone {
    height: $unit-height;
    position: relative;
}

#invaders__player {
    @include base-unit;

    left: 500px;
    position: absolute;
}

.bullet {
    background: white;
    height: 30px;
    left: 50%;
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    width: 15px;
}
