@import './theme';

$col-width: 100px;
$ship-width: 90px;
$ship-height: 50px;

@mixin base-ship {
    background: var(--cyan-400);
    border: 0;
    height: $ship-height;
    width: $ship-width;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    background: var(--black-600);
    color: white;
    display: flex;
    font-size: 15px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

#container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    margin: 0 auto;
    outline: 1px solid var(--cyan-400);
    position: relative;
    width: 1100px;
}

#header {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
}

#score span:nth-child(2) {
    color: var(--cyan-400);
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

#earth {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

#invader-column-list {
    display: flex;
    flex: 1;
    position: relative;
}

.invader-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: $col-width;
}

.invader {
    @include base-ship;

    position: relative;

    &:not(:first-child) {
        margin-top: 10px;
    }
}

#player-zone {
    height: $ship-height;
    position: relative;
    width: 100%;
}

#player {
    @include base-ship;

    bottom: 0;
    left: 499px;
    position: absolute;
    z-index: 10;
}

#gun {
    height: 100%;
    position: relative;
    width: 100%;
}

.bullet {
    background: white;
    height: 20px;
    position: absolute;
    width: 6px;
    z-index: 999;
}

#btn-group {
    display: flex;
    justify-content: space-between;
    width: 215px;
}

.btn {
    background: 0;
    border: 1px solid var(--cyan-400);
    border-radius: 3px;
    color: var(--cyan-400);
    cursor: pointer;
    height: 50px;
    width: 50px;

    &:hover {
        background: var(--cyan-400);
        color: var(--black-600);
    }

    &--wide {
        width: 100px;
    }
}
